*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
#main-userlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}
#user-login{
  background-color: rgb(240, 240, 240);
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

}
#userlogin-content{
    text-align: center;
    font-weight: 900;
}
#email{
    width: 400px;
}
#password{
    width: 400px;
}
#userlogin-button{
    width: 80px;
    height: 25px;
    position: relative;
    left: 145px;
    top: 10px;
}