#admindashboard-main{
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}
#admindashboard-section1{
    width: 20%;
    height: 488px;
    background-color:aliceblue;
    border-right: 1px solid black;
}
#admindashboard-section2{
    width: 80%;
    height: 488px;
    background-color:lightblue;
    
}