*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
#main-sentmp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-image: linear-gradient(rgb(247, 113, 113),rgb(112, 112, 242),rgb(92, 90, 90));
    /* margin: 1rem; */
}
#sentmp{
  background-color: rgb(240, 240, 240);
  width: 500px;
  height: 750px;
  display: flex;
border: 1px solid black;
border-radius: 10px;
  justify-content: center;

}
#sentmp-content{
    text-align: center;
    font-weight: 900;
}
#name{
    width: 400px; 
}
#sentmp-button{
    width: 80px;
    height: 25px;
    position: relative;
    left: 150px;
    top: 10px;
    cursor: pointer;
}